<header class="hero">
    <div class="hero-wrap">
        <img src="https://dgcp.cz/img/logo/dgcp-logo-final-white.png" alt="DGCP logo" class="logo">
        <h1 id="headline">DGCP Jamkovka</h1>
        <p class="year"><i class="fa fa-star"></i>2026<i class="fa fa-star"></i></p>
    </div>
    <div class="hero-wrap">
        <h2>
            <a class="{% if page.url == '/index.html' or page.url == '/' %}active{% else %}inactive{% endif %}" href="index.html">Propozice</a>
            <a class="{% if page.url == '/registrovani.html' %}active{% else %}inactive{% endif %}" href="registrovani.html">Registrovaní hráči</a>
            <!-- <a class="{% if page.url == '/zakladni.html' }active{% else %}inactive{% endif %}" href="zakladni.html">Základní část</a> -->
            <!-- <a class="{% if page.url == '/top8.html' }active{% else %}inactive{% endif %}" href="top8.html">TOP 8</a> -->
            <a class="{% if page.url == '/archiv.html' %}active{% else %}inactive{% endif %}" href="archiv.html">Archiv</a>
        </h2>
    </div>
</header>